In [2]:
import csv, sqlite3

In [3]:
conn = sqlite3.connect("data.sqlite")
c = conn.cursor()

In [6]:
c.execute("drop table if exists 'countries'")
c.execute("drop table if exists 'population'")
c.execute("drop table if exists 'gdp'")

In [7]:
c.execute("create table 'countries' ( country_id INTEGER PRIMARY KEY AUTOINCREMENT, name varchar(255) );")
c.execute("create table 'gdp' ( year int, value int, country_id int, foreign key(country_id) references countries(country_id) );")
c.execute("create table 'population' ( value int, country_id int, foreign key(country_id) references countries(country_id) );")

In [9]:
def add_population(c_id, population):
    c.execute("insert into population (country_id, value) values (?, ?)", (c_id, population))

In [10]:
def add_country(country_name):
    c.execute("insert into countries (name) values (?)", (country_name,))
    c.execute("select country_id from countries where name=?", (country_name,))
    return c.fetchone()[0]

In [11]:
with open("data.csv", 'r') as csvdata:
    reader = csv.reader(csvdata, delimiter="\t")
    for row in reader:
        country, population, *gdp = row
        c_id = add_country(country)
        try:
            f_population = float(population)
            add_population(c_id, f_population)
        except ValueError:
            print("Skipping", country, population)
conn.commit()

Skipping Kosovo
Skipping Syria n/a

In [29]:
c.fetchone()

In [14]:
QUERY = """
    select name, countries.country_id, value
    from population, countries
    on countries.country_id=population.country_id
    order by value desc
    limit 0, 10;"""
c.execute(QUERY)
c.fetchall()

[('China', 35, 1367.82),
 ('India', 75, 1275.921),
 ('United States', 181, 319.075),
 ('Indonesia', 76, 252.165),
 ('Brazil', 23, 202.769),
 ('Pakistan', 127, 186.19),
 ('Nigeria', 124, 173.938),
 ('Bangladesh', 13, 158.217),
 ('Russia', 138, 146.3),
 ('Japan', 83, 127.061)]